@import "contacto";
@import "footer";
@import "header";
@import "index";
@import "menu";
@import "nosotros";
@import "productos";
@import "receta1";
@import "recetas";
@import "titulos";


*{
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
}

